.env
/vendor
.DS_Store
.phpunit.result.cache

# Dynamic content
/uploads/
!/uploads/.gitkeep
content/blog/user/
!content/blog/user/.gitkeep

# Internal project management file
STATUS.md
/docs/PROJECT_OVERVIEW.md
/docs/DEVELOPMENT_SESSION.md