.env
/vendor
.DS_Store
.phpunit.result.cache

# Dynamic content
/uploads/
!/uploads/.gitkeep
content/blog/user/
!content/blog/user/.gitkeep

# Internal project management file
/docs/STATUS.md
/docs/PROJECT_OVERVIEW.md
/docs/DEVELOPMENT_SESSION.md

# Node dependencies
/node_modules/

# Temporary files
/tmp/

# Editor settings
/.idea/
/.vscode/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Coverage output
/coverage/
